<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.esquel.cordovaAlter"
      version="1.0.0">
    <name>CordovaAlter</name>
    <description>Alter for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,cordovaAlter</keywords>

    <js-module src="www/cordovaAlter.js" name="CordovaAlter">
        <clobbers target="CordovaAlter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaAlter" >
                <param name="android-package" value="com.esquel.cordovaAlter.CordovaAlter"/>
            </feature>
        </config-file>

        <source-file src="src/android/CordovaAlter.java" target-dir="src/com/esquel/cordovaAlter" />
    </platform>
</plugin>
